$handshape-ttf-font-path: "./fonts/handshape2002-dec.ttf";
@font-face {
  font-family: 'handshape2002';
  src: url('/assets/handshape-font/handshape2002-dec.ttf')  format('truetype'); /* Safari, Android, iOS */
}