<div class="u-container">
  <form #nForm="ngForm">
      <div class="u-title">
        Contact
      </div>
      <div class="u-body">
          <md-input-container class="p-full-width">
              <input mdInput required type="text" placeholder="E-mail" name="email" [(ngModel)]="contact.email" #email="ngModel" id="email">
              <md-error *ngIf="(email.errors && (email.dirty || email.touched))">
                  {{'admin.validate.email' | translate}}
              </md-error>
          </md-input-container>
          <md-select placeholder="Tool" required class="p-full-width" style="margin-top: 10px;" name="tool" [(ngModel)]="contact.tool" #tool="ngModel"
              id="tool" >
              <md-option *ngFor="let t of tools" [value]="t.key">
                  {{ t.value }}
              </md-option>
              <md-error *ngIf="(tool.errors && (tool.dirty || tool.touched))">
                  {{'admin.validate.role' | translate}}
              </md-error>
          </md-select>
      </div>
      <div class="u-footer">
          <button md-button color="primary" [disabled]="loading || (!nForm.form.valid)" (click)="save()"><i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i> <i *ngIf="!loading" class="material-icons">&#xE161;</i> {{'common.save' | translate}}</button>
          <button md-button color="primary" [md-dialog-close]="true"><i class="material-icons">&#xE5CD;</i> {{'common.cancel' | translate}}</button>
      </div>
  </form>
</div>
