<!--<div class="slide-head" [ngStyle]="{'min-height': hieghtQuestion}">-->
<div class="slide-head">
  <!--<div class="s-left" [ngStyle]="{'min-height': hieghtQuestion}">
        <button *ngIf="test !== undefined && test !== null && test.options !== undefined && test.options !== null && test.options.changeable === 'true' && !(currentQuestionIndex<0 && currentSlideIndex<=0)" class="btn btn-success"
        >Back</button>
      </div> -->
  <div class="s-center" [ngStyle]="{'height': heightQuestionCenter, 'width':widthQuestionCenter}">
    <div class="s-title">
      <!-- {{test.TestName}} - {{currentQuestion.name}} - {{currentSlide.type}} {{currentSlideName}} -->
      <span class="pull-right" (click)="closePlayer()" style="cursor:pointer;"><i class="material-icons">close</i></span>
    </div>
    <div class="s-content" id="s-content" [ngStyle]="{'height': heightQuestionCenterContent, 'background-color' : backgroundColor}">
      <div *ngIf="loading" class="testdownload-overlay">
        <md-progress-bar class="app-progress" mode="indeterminate"></md-progress-bar>
      </div>
      <div [ngStyle]="{'height': heightQuestionCenterContent}">
        <div *ngFor="let c of components[currentSlideId]; let i = index">
          <div class="c-item" [ngClass]="{'is-click-area' : (c.componentType == 'CLICK_AREA') || (c.componentType == 'CUSTOM_CLICK_AREA') }"
            [ngSwitch]="c.componentType"
            [ngStyle]="{'top': c.posY + 'px', 'left': c.posX + 'px', 'width': c.dimWidth +'px', 'height': c.dimHeight + 'px', 'position' : 'absolute', 'clip-path': c.clipPolygon}">
            <!--<i class="material-icons" (click)="configComponentModal(c)">&#xE8B8;</i>
            <i class="material-icons" (click)="removeComponent(i)">&#xE5CD;</i>-->
            <!--<br/>-->
            <label *ngIf="c.label && c.componentType!='CHECKBOX'">{{c.label}}</label>
            <input id="{{c.id}}" *ngSwitchCase="'TEXT'" [attr.maxlength]="c.chars" [ngStyle]="{'height':c.dimHeight+'px', 'width': c.dimWidth +'px'}"
              type="text" name="{{c.name}}" (keypress)="textChange(c);checkTransition(c, $event)">

            <textarea id="{{c.id}}" *ngSwitchCase="'TEXTAREA'" [attr.cols]="c.cols" [attr.rows]="c.rows"
              [ngStyle]="{'height':c.dimHeight+'px', 'width': c.dimWidth +'px'}" type="text" name="{{c.name}}"
              (keypress)="textAreaChange(c);checkTransition(c, $event)"></textarea>

            <div id="{{c.id}}_{{i}}" *ngSwitchCase="'RADIO'">
              <div *ngFor="let r of c.radioComponent; let y = index">
                <input class="class-radio" id="{{c.id}}_{{i}}_{{y}}" value="{{c.value}}" style="width: 30px;" type="radio" name="{{c.groupName}}"
                  (click)="radioChange(c, r);checkTransition(c, $event)">
                <label for="{{c.id}}_{{i}}_{{y}}">{{r.label}}</label><br>
              </div>
            </div>
            <div *ngSwitchCase="'CHECKBOX'">
              <input id="{{c.id}}_{{i}}" style="height: 15px !important; width: 15px !important;" type="checkbox" value="{{c.value}}"
                name="{{c.groupName}}" (click)="checkboxChange(c);checkTransition(c, $event)">
              <label for="{{c.id}}_{{i}}">{{c.label}}</label>
            </div>

            <div *ngSwitchCase="'RANGE'" class='rangecontainer' id="{{c.id}}_{{i}}">
              <input name="{{c.name}}" type="range" min='{{c.min}}' max='{{c.max}}' step='{{c.step}}'
                [attr.list]="c.options?.showticks==true || c.options?.showticks=='true' ? 'tickmarks':''"
                [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}" (change)="rangeChange(c,$event)" />
              <ul class='rangelabel' *ngIf="c.options?.showlabels==true || c.options?.showlabels=='true'">
                <li *ngFor="let v of getLabels(c)">{{v.label}}</li>
              </ul>
              <datalist id="tickmarks" *ngIf="c.options?.showticks==true || c.options?.showticks=='true'">
                <option *ngFor="let v of getTicks(c)" value="{{v.value}}">
              </datalist>
            </div>

            <div *ngSwitchCase="'IMAGE'" class="e-image" [ngClass]="{'selected': c.options.isChecked && c.options.shadow == 'true'}">
              <img [urlApi]="c.url" [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}" id="{{c.id}}_{{i}}"
                (click)="setActiveImg(i);imageChange(c);checkTransition(c, $event)" />
            </div>
            <div *ngSwitchCase="'VIDEO'" class="e-image">
              <div *ngIf="c.options.commands == 'true'">
                <vg-player (onPlayerReady)="onPlayerReady($event, c.id,c)">
                  <vg-overlay-play *ngIf="c.options.commands == 'true'"></vg-overlay-play>
                  <vg-buffering *ngIf="c.options.commands == 'true'"></vg-buffering>

                  <vg-scrub-bar *ngIf="c.options.commands == 'true'">
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                  </vg-scrub-bar>

                  <vg-controls>
                    <vg-play-pause *ngIf="c.options.commands == 'true'"></vg-play-pause>
                    <vg-playback-button *ngIf="c.options.slowOption == 'true'"></vg-playback-button>

                    <vg-time-display *ngIf="c.options.commands == 'true'" vgProperty="current" vgFormat="mm:ss">
                    </vg-time-display>

                    <vg-scrub-bar *ngIf="c.options.commands == 'true'" style="pointer-events: none;"></vg-scrub-bar>

                    <vg-time-display *ngIf="c.options.commands == 'true'" vgProperty="left" vgFormat="mm:ss">
                    </vg-time-display>
                    <vg-time-display *ngIf="c.options.commands == 'true'" vgProperty="total" vgFormat="mm:ss">
                    </vg-time-display>

                    <vg-track-selector *ngIf="c.options.commands == 'true'"></vg-track-selector>
                    <vg-mute *ngIf="c.options.commands == 'true'"></vg-mute>
                    <vg-volume *ngIf="c.options.commands == 'true'"></vg-volume>

                    <vg-fullscreen *ngIf="c.options.commands == 'true'"></vg-fullscreen>
                  </vg-controls>
                  <video [vgMedia]="media" #media id="{{c.id}}_{{y}}" (click)="clickVideo($event)" preload="{{getAutoplay(c)}}"
                    [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}">
                    <source src="{{c.url}}" type="video/mp4">
                  </video>
                </vg-player>
              </div>

              <div *ngIf="c.options.commands === 'false'">
                <vg-player (onPlayerReady)="onPlayerReady($event, c.id,c)">
                  <video [vgMedia]="media" #media id="{{c.id}}_{{y}}" (click)="clickVideo($event)" preload="{{getAutoplay(c)}}"
                    [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}">
                    <source src="{{c.url}}" type="video/mp4">
                  </video>
                </vg-player>
              </div>
            </div>
            <div *ngSwitchCase="'CLICK_AREA'" class="e-clickarea">
              <div id="{{c.id}}_{{i}}" (click)="clickareaChange(c);checkTransition(c, $event)"
                [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px', 'z-index': '999'}"></div>
            </div>
            <div *ngSwitchCase="'CUSTOM_CLICK_AREA'" id="{{c.id}}_{{i}}" class="e-clickarea"
              [ngStyle]="{'width': c.dimWidth, 'height': c.dimHeight, 'z-index': '999'}">
              <svg  *ngIf="c.options" [attr.width]="c.dimWidth" [attr.height]="c.dimHeight"
                [attr.viewBox]="c.options.viewBox" xml:space="preserve">
                <!-- <line *ngFor="let line of linesArray" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" style="stroke:rgb(0,0,0);stroke-width:2" /> -->
                <!-- <a href="/docs/Web/SVG/Element/polygon" > -->
                  <polygon [attr.points]="c.options.points" class="e-clicksvg" (click)="clickareaChange(c);checkTransition(c, $event)" />
                <!-- </a> -->
              </svg>
            </div>
            <div *ngSwitchCase="'VIDEO_RECORD'">
              <div class="video-record-area" (click)="startRecording(c)" id="{{c.id}}_{{i}}" [ngStyle]="{'width': c.dimWidth, 'height': c.dimHeight}">
                <img style="height: 80px" src="../../../../assets/img/video-camera-icon.png" alt="assets/img/video-camera-icon.png">
              </div>
            </div>
            <div *ngSwitchCase="'TEXTBLOCK'">
              <div [froalaView]="c.text" id="{{c.id}}"
                [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px', 'color' : c.options.color, 'font-size' : c.options.fsize+'px'}">
              </div>
            </div>
            <button *ngSwitchCase="'BUTTON'" class="btn btn-{{c.options.bstyle}}" (click)="checkbuttonChange(c); checkTransition(c, $event)"
              [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}">{{c.text}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="slide-foo">
  <div class="f-left">
    <div class="new-question" style="cursor: pointer;" (click)="backQuestion()">
      <img src="assets/img/new-question-icon.PNG" alt="question" width="40px" height="10px"> TEST
    </div>
  </div>
  <div class="f-center">
    <div *ngFor="let s of currentQuestion.slides; let i = index">
      <div class="question-info"  [ngClass]="{'selected': s.slideId == currentSlideId}">
        <br/> {{s.type}}
      </div>
      <div class="sperator-right">
        <i class="material-icons">&#xE037;</i>
      </div>
    </div>

  </div>
  <div class="f-right">
  </div>
</div>
-->