@import "../../share/theme.scss";
.e-logo {
    border-radius: 50%;
    position: absolute;
    top: 30px;
    width: 65px;
    height: 65px;
    left: 305px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .middle {
        display: table-cell !important;
        vertical-align: top !important;
    }

    .inner {
        padding: 10px !important;
        width: 100% !important;
    }
    .btnLogin {
        width: auto;
    }
    .e-logo {
        position: absolute;
        top: 10px !important;
        left: 40% !important;
    }
    .title-login {
         text-align: center;
         margin-top: 55px;
    }
}

.btnLogin {
  border-radius: 0px;
  box-shadow: 2px 3px 0px 0px #D3D3D3;
  color: $color-link-e;
}


.title-login {
    color: $color-title;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 30px 0px;
    font-size: 20pt;
}

.btn-forget {
    color: $color-link-e;
    margin: 15px 0 15px 0;
    font-size: 10pt;
}

.mat-card {
    padding: 30px 60px 0px 60px;
}

.mat-card>.mat-card-actions:last-child {
    margin-top: 90px;
}

.mat-input-element {
    color: $color-primary;
}