@import "../../../share/theme.scss";

.main-container {
  background-color: $backgroud-e;
  .mat-input-container{
    padding:5px 15px;
    width: 100%;
    color:#959595;
  }
  .search-icons{
    float: right;
    cursor: pointer;
  }
  .mat-input-element{
    width: auto;
  }
  .mat-select-placeholder{
    padding: 0 12px;
  }
  .mat-select{
    width: 60%;
    border: 1px solid #00ade5;
  }

  .multi{
    display: flex;
    justify-content: space-between;
  }
  .single{
    display: flex;
    flex-flow: column;
    font-size: 0.8em;
    align-items: center;
    cursor: pointer;
  }
  .single:hover{
    color:#00ade5;
  }
  .view{
    display: flex;
    text-align: center;
    margin:10px;
    align-items: center;
    text-decoration: none;
  }
}

.select-custom{
  width: 50%;
  height: 75%;
  border: 1px solid #00ade5;
}
.m-material-icons {
  font-size: 18px;
  position: relative;
  top: 5px;
}
md-tab-group {
  /deep/.mat-tab-label {
    line-height: 40px;
    height: 40px;
    min-width: 90px;
  }
  /deep/.mat-ink-bar {
    color: #00ade5;
    height: 3px;
  }
  /deep/md-ink-bar {
    width: 90px;
  }
  /deep/.mat-tab-label-active {
    color: #00ade5;
    background-color: white;
  }
  /deep/.mat-tab-body-content {
      padding: 0 15px 15px 15px;
  }  
}

.card-title{
  color:#959595;
}

.col-md-3{
  margin-bottom: 40px;
}

.m-btn-filter {
  background-color: #00ade5;
  min-width: 0px;
  color: white;
  line-height: 30px;
  padding: 0 5px 0 5px;
  margin-left: 20px;
}

.m-icon-filter {
  font-size: 18px;
}
.btn-acion {
  text-align: right;
}

.btn-add-photo {
  color: #00ade5;
  font-weight: normal !important;
}

.m-body {
  width: -moz-calc(100% - 5px);
  width: -webkit-calc(100% - 5px);
}

.m-image {
  padding: 10px;
  position: relative;
  color: white;
}

.top-right {
  position: absolute;
  top: 12px;
  right: 16px;
}

.top-right a i{
  color: #61696b;
}

.top-right a i:hover{
  color: #00ade5;
}

md-spinner {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  left: 10px;
  opacity: 0.0;
}

md-spinner.show {
  opacity: 1.0;
}

.single-mini{
  color: #959595;
  font-size: 1.4em;
  text-shadow: 0 0 3px rgba(255,255,255, 0.65), 0 0 5px rgba(255,255,255, 0.65);
}

.m-image:hover .m-image-footer {
  display: block;
}

.m-image-footer {
  padding: 8px;
  position: absolute;
  height: 50px;
  // top: 100px;
  color: #ffffff;
  font-size: 10pt;
  background-color: #61696b;
  width: -webkit-calc(100% - 20px);
  // display: none;
}


.m-icon {
  float: right;
}

.m-text {
  display: inline-block;
}

.m-icon {
  display: inline-block;
  .material-icons {
    font-size: 12pt !important;
    cursor: pointer;
    padding: 8px 3px 0 0px;
    &.search-icons{
      float: right;
    }
  }
}
.m-image {
  img {
    height: 140px; 
  }
}
.list-left{
  width:40%;
}
.list-center{
  width:30%;
}

.mat-list-item-content{
  height: 100px !important;
}
.e-content{
  min-height: 550px;
}.mat-list {
  .mat-list-item{
    height: 259px;
  }
}
vg-player{
  // width: inherit;
  // height: inherit;
}
video{
  width: inherit;
  height: inherit;
}

.list-left{
  width:50%;
}
.list-right{
  width:50%;    
  height: 100%;
  margin-left: 30px;
  h2{
    a{
      color: #000;
      cursor: pointer;
    }
  }
  hr{
    border-top: 1px solid #000;
  }
  .description{
    font-size: 14px;
    color:#959595;
  }
}
.mat-list-item-content{
  height: 100px !important;
}
.mat-list .mat-list-item{
  display: inline-block;
  align-items:top;
}