<div class="slide-head" [ngStyle]="{'min-height': hieghtQuestion}">
  <div class="s-left" [ngStyle]="{'min-height': hieghtQuestion}">
    <div class="item-component drag-component" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'TEXT', 'updated': false}">
      <i class="material-icons">&#xE167;</i> Input field
    </div>
    <div class="item-component drag-component" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'TEXTAREA', 'updated': false}">
      <i class="material-icons">&#xE167;</i> Text area
    </div>
    <div class="item-component drag-component custom-clickable" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'CUSTOM_CLICK_AREA', 'updated': false}">
      <span><i class="material-icons">&#xE434;</i></span>
      <span>Custom clickable area</span>
    </div>
    <div class="item-component drag-component" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'CLICK_AREA', 'updated': false}">
      <i class="material-icons">&#xE434;</i> Clickable area
    </div>
    <div class="item-component drag-component" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'VIDEO_RECORD', 'updated': false}">
      <span><i class="material-icons">video_call</i></span>
      <span>Video Recording</span>
    </div>
    <div class="item-component drag-component" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'RADIO', 'updated': false}">
      <i class="material-icons">&#xE837;</i> Radio
    </div>
    <div class="item-component drag-component" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'CHECKBOX', 'updated': false}">
      <i class="material-icons">&#xE834;</i>Checkbox
    </div>
    <div class="item-component drag-component" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'RANGE', 'updated': false}">
      <i class="material-icons">&#xE8D4;</i> Range slider
    </div>
    <div class="item-component drag-component" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'TEXTBLOCK', 'updated': false}">
      <i class="material-icons">&#xE167;</i> Text Block
    </div>
    <div class="item-component drag-component" (onDragStart)="ondragstart(null)" dnd-draggable
      [dragData]="{'type': 'BUTTON', 'updated': false}">
      <i class="material-icons">&#xE167;</i> Button
    </div>
    <div class="text-center">
      <span style="margin-top:10px;margin-right:10px;font-weight: bold">GRID</span> OFF <md-slide-toggle
        [checked]="!!grid" (change)="toggleGrid($event)">ON </md-slide-toggle>
    </div>
  </div>
  <div class="s-center"
    [ngStyle]="{'height': heightQuestionCenter, 'width':widthQuestionCenter, 'background-color' : backgroundColor}">
    <div class="s-title">
      <span>Test name - {{currentSlideName}}</span>
      <div *ngIf="customClickCheck" class="draw-container">
        <span>Click on button to start drawing and double click to finish. Click finish button to insert area.</span>
        <button class="draw-button" md-button color="primary" (click)="startDrawing()">
          {{drawing[0]}} <i class="material-icons">
            brush
          </i>
        </button>
        <button (click)="finishDrawing()" class="finish-button" md-button color="primary">
          Finish
        </button>
      </div>
    </div>
    <div class="s-content" id="s-content" [ngStyle]="{'height': heightQuestionCenterContent}">
      <div *ngIf="mediaLoading" class="testdownload-overlay">
        <md-progress-bar class="app-progress" mode="indeterminate"></md-progress-bar>
      </div>
      <div *ngIf="grid" class="active overlaydrop"
        [ngStyle]="{'margin-top': '15px','height': heightQuestionCenterContent,'background-size': step+'px '+ step+'px','z-index': '0'}">
      </div>
      <div dnd-droppable (onDropSuccess)="addComponent($event)" [ngClass]="{'active':mouving==true}"
        [ngStyle]="{'margin-top': '15px','height': heightQuestionCenterContent, 'background-size': step+'px '+ step+'px'}"
        class="overlaydrop">
      </div>
      <canvas [ngStyle]="{'visibility': canvasVisibility, 'z-index': canvasZIndex}" class="myCanvas"
        id="myCanvas"></canvas>
      <div [ngStyle]="{'height': heightQuestionCenterContent}">
        <div *ngFor="let c of components[currentSlideId]; let i = index">
          <div class="c-item" [ngSwitch]="c.componentType"
            [ngStyle]="{'top': c.posY + 'px', 'left': c.posX + 'px', 'position' : 'absolute'}">
            <i class="material-icons" [ngClass]="{'dragging' : draggingId == c.id}" (onDragStart)="ondragstart(c.id)"
              [dragEnabled]="true" dnd-draggable
              [dragData]="{'index': i, 'type': c.componentType, 'updated': true}">&#xE89F;</i>
            <i class="material-icons" (click)="configComponentModal(c)" style="cursor:pointer;">&#xE8B8;</i>
            <i class="material-icons erase-button" (click)="removeComponent(i)" style="cursor:pointer;">&#xE5CD;</i>
            <i class="material-icons" (click)="setMiddle(c)" style="cursor:pointer;">center_focus_strong</i>
            <i class="material-icons" (click)="setCenter(c)" style="cursor:pointer;">border_vertical</i>
            <br />
            <label *ngIf="c.label && c.componentType!='CHECKBOX'">{{c.label}}</label>
            <input id="{{c.id}}" *ngSwitchCase="'TEXT'" [attr.maxlength]="c.chars"
              [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}" type="text" name="{{c.name}}">

            <textarea id="{{c.id}}" *ngSwitchCase="'TEXTAREA'" [attr.cols]="c.cols" [attr.rows]="c.rows"
              [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}" type="text"
              name="{{c.name}}"></textarea>

            <div id="{{c.id}}" *ngSwitchCase="'RADIO'">
              <div *ngFor="let r of c.radioComponent; let y = index">
                <input class="class-radio" id="{{c.id}}_{{y}}" style="width: 30px;" type="radio" name="{{c.groupName}}">
                <label for="{{c.id}}__{{y}}">{{r.label}}</label><br>
              </div>
            </div>
            <div *ngSwitchCase="'CHECKBOX'">
              <input id="{{c.id}}" type="checkbox" name="{{c.groupName}}">
              <label for="{{c.id}}">{{c.label}}</label>
            </div>

            <div *ngSwitchCase="'RANGE'" class='rangecontainer' id="{{c.id}}" [ngStyle]="{'width': c.dimWidth +'px'}">
              <input name="{{c.name}}"
                [attr.list]="c.options?.showticks==true || c.options?.showticks=='true' ? 'tickmarks_'+c.id :''"
                type="range" min='{{c.min}}' max='{{c.max}}' step='{{c.step}}'
                [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}" />
              <ul class='rangelabel' *ngIf="c.options?.showlabels==true || c.options?.showlabels=='true'">
                <li *ngFor="let v of c['labels']">{{v.label}}</li>
              </ul>
              <datalist id="tickmarks_{{c.id}}" *ngIf="c.options?.showticks==true || c.options?.showticks=='true'"
                [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}">
                <option *ngFor="let v of c['ticks']" value="{{v.value}}">
              </datalist>
            </div>

            <div *ngSwitchCase="'IMAGE'" class="e-image" id="image_{{c.id}}"
              [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}">
              <ng-container *ngIf='c.url'>
                <img [urlApi]="c.url" [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}"
                  id="{{c.id}}" />
              </ng-container>
            </div>
            <div *ngSwitchCase="'VIDEO'" class="e-image">
              <ng-container *ngIf='c.url'>
                <img [urlApi]="c.url" [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}"
                  id="{{c.id}}" />
              </ng-container>
            </div>
            <div *ngSwitchCase="'CLICK_AREA'" class="e-clickarea">
              <div id="{{c.id}}" [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}"></div>
            </div>
            <div style="position: absolute; z-index: 98" *ngSwitchCase="'CUSTOM_CLICK_AREA'">
              <div id="{{c.id}}" [ngStyle]="{'width': c.dimWidth, 'height': c.dimHeight}">
                <svg *ngIf="c.options" [attr.width]="c.dimWidth" [attr.height]="c.dimHeight"
                  [attr.viewBox]="c.options.viewBox" xml:space="preserve">
                  <!-- <line *ngFor="let line of linesArray" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" style="stroke:rgb(0,0,0);stroke-width:2" /> -->
                  <polygon [attr.points]="c.options.points" class="e-clicksvg" />
                </svg>
              </div>
            </div>
            <div *ngSwitchCase="'VIDEO_RECORD'">
              <div class="video-record-area" (click)="startRecording(c.id)" id="{{c.id}}"
                [ngStyle]="{'width': c.dimWidth, 'height': c.dimHeight}">
                <img style="height: 80px" src="assets/img/video-camera-icon.png" alt="assets/img/video-camera-icon.png">
              </div>
            </div>

            <div *ngSwitchCase="'TEXTBLOCK'" class="e-textblock">
              <div id="{{c.id}}" [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}">
                <div [froalaView]="c.text"></div>
              </div>
            </div>
            <button *ngSwitchCase="'BUTTON'" class="btn btn-{{c.options.bstyle}}"
              [ngStyle]="{'width': c.dimWidth +'px', 'height': c.dimHeight + 'px'}">{{c.text}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-right" [ngStyle]="{'min-height': hieghtQuestion}">
    <md-tab-group (selectChange)="changeTab($event.index)">
      <md-tab>
        <div>
          <md-input-container>
            <input mdInput placeholder="search media" class="search-media-input" [(ngModel)]="filterName">
          </md-input-container>
          <button md-button class="m-btn-filter" (click)="filterMedia('PHOTO')"><i
              class="material-icons m-icon-filter">&#xE152;</i></button>
        </div>
        <ng-template md-tab-label>
          <i class="material-icons m-material-icons">&#xE413;</i>
        </ng-template>
        <button md-button *ngIf="!isUrlRoot()" (click)="goBack()" class="btn-add-photo"><i
            class="material-icons">arrow_back</i>
          <span>Back</span></button>
        <div *ngIf="allMedias['PHOTO']" class="m-body" [ngStyle]="{'height': mediaHeightContentTab}">
          <i *ngIf="mediaLoading" class="fa fa-circle-o-notch fa-spin"></i>
          <div *ngIf="gridView">
            <div class="image-body" *ngFor="let m of allMedias['PHOTO']; let i = index">
              <img *ngIf="m.mediaType === 'PHOTO'" [urlApi]="m.mediaThumbPath" width="100%" dnd-draggable
                [dragData]="{'type': 'IMAGE', 'updated': false, url: m.mediaThumbPath, mediaId: m.mediaId}"
                (onDragStart)="ondragstart(null,$event)" />
              <div *ngIf="m.mediaType === 'FOLDER'" class="m-image">
                <button md-button (click)="openFolder(m)" class="btn-folder"><i
                    class="material-icons icon-folder">folder</i>
                  <span class="text-folder">{{m.mediaName}}</span>
                </button>
              </div>
            </div>
          </div>
          <md-list *ngIf="listView">
            <md-list-item *ngFor="let m of allMedias['PHOTO']; let i = index" style="margin: 5px 0px;">
              <div class="pull-left" class="list-left">
                <img [urlApi]="m.mediaThumbPath" width="100%" dnd-draggable
                  [dragData]="{'type': 'IMAGE', 'updated': false, url: m.mediaThumbPath, mediaId: m.mediaId}"
                  (onDragStart)="ondragstart(null,$event)" />
              </div>
              <div class="m-icon list-right">
                <div class="pull-right" style="font-size: 11px;">
                  {{ m.mediaName}}
                </div>
              </div>
            </md-list-item>
          </md-list>
          <button *ngIf="mediaPhotoPageIndex > 0 && loadMorePhoto" md-button (click)="loadMedia('PHOTO')"
            class="btn-load-more">
            <span>Load More</span></button>
        </div>
      </md-tab>

      <md-tab>
        <div>
          <md-input-container>
            <input mdInput placeholder="search media" class="search-media-input" [(ngModel)]="filterName">
          </md-input-container>
          <button md-button class="m-btn-filter" (click)="filterMedia('VIDEO')"><i
              class="material-icons m-icon-filter">&#xE152;</i></button>
        </div>
        <ng-template md-tab-label>
          <i class="material-icons m-material-icons">&#xE04A;</i>
        </ng-template>
        <button md-button *ngIf="!isUrlRoot()" (click)="goBack()" class="btn-add-photo"><i
            class="material-icons">arrow_back</i>
          <span>Back</span></button>
        <div *ngIf="allMedias['VIDEO']" class="m-body" [ngStyle]="{'height': mediaHeightContentTab}">
          <i *ngIf="mediaLoading" class="fa fa-circle-o-notch fa-spin"></i>
          <div *ngIf="gridView">
            <div class="image-body" *ngFor="let m of allMedias['VIDEO']; let i = index">
              <img *ngIf="m.mediaType === 'VIDEO'" [urlApi]="m.mediaThumbPath" width="100%" dnd-draggable
                [dragData]="{'type': 'VIDEO', 'updated': false, url: m.mediaThumbPath, mediaId: m.mediaId}"
                (onDragStart)="ondragstart(null,$event)" />
              <div *ngIf="m.mediaType === 'FOLDER'" class="m-image">
                <button md-button (click)="openFolder(m)" class="btn-folder"><i
                    class="material-icons icon-folder">folder</i>
                  <span class="text-folder">{{m.mediaName}}</span>
                </button>
              </div>
            </div>
          </div>
          <md-list *ngIf="listView">
            <md-list-item *ngFor="let m of allMedias['VIDEO']; let i = index" style="margin: 5px 0px;">
              <div class="pull-left" class="list-left">
                <img [urlApi]="m.mediaThumbPath" width="100%" dnd-draggable
                  [dragData]="{'type': 'VIDEO', 'updated': false, url: m.mediaThumbPath, mediaId: m.mediaId}"
                  (onDragStart)="ondragstart(null,$event)" />
              </div>
              <div class="m-icon list-right">
                <div class="pull-right" style="font-size: 11px;">
                  {{ m.mediaName}}
                </div>
              </div>
            </md-list-item>
          </md-list>
          <button *ngIf="mediaVideoPageIndex > 0 && loadMoreVideo" md-button (click)="loadMedia('VIDEO')"
            class="btn-load-more">
            <span>Load More</span></button>
        </div>
      </md-tab>
      <!--<md-tab>
        <ng-template md-tab-label>
          <i class="material-icons m-material-icons">&#xE030;</i>
        </ng-template>
        <div *ngIf="allMedias['AUDIO']" class="m-body" [ngStyle]="{'height': heightContentTab}">
          <i *ngIf="mediaLoading" class="fa fa-circle-o-notch fa-spin"></i>
          <div class="image-body" *ngFor="let m of allMedias['AUDIO']; let i = index">
            <img [urlApi]="m.mediaThumbPath" width="100%" height="100%" />
          </div>
        </div>
      </md-tab>-->
      <md-tab>
        <div>
          <md-input-container>
            <input mdInput placeholder="search media" class="search-media-input" [(ngModel)]="filterName">
          </md-input-container>
          <button md-button class="m-btn-filter" (click)="filterMedia('TEXT')"><i
              class="material-icons m-icon-filter">&#xE152;</i></button>
        </div>
        <ng-template md-tab-label>
          <i class="material-icons m-material-icons">&#xE02F;</i>
        </ng-template>
        <div *ngIf="allMedias['TEXT']" class="m-body" [ngStyle]="{'height': heightContentTab}">
          <i *ngIf="mediaLoading" class="fa fa-circle-o-notch fa-spin"></i>
          <div *ngIf="gridView">
            <div class="image-body" *ngFor="let m of allMedias['TEXT']; let i = index">
              <img [urlApi]="m.mediaThumbPath" width="100%" height="100%" />
            </div>
          </div>
          <md-list *ngIf="listView">
            <md-list-item *ngFor="let m of allMedias['TEXT']; let i = index" style="margin: 5px 0px;">
              <div class="pull-left" class="list-left">
                <img [urlApi]="m.mediaThumbPath" width="100%" />
              </div>
              <div class="m-icon list-right">
                <div class="pull-right" style="font-size: 11px;">
                  {{ m.mediaName}}
                </div>
              </div>
            </md-list-item>
          </md-list>
          <button *ngIf="mediaTextPageIndex > 0 && loadMoreText" md-button (click)="loadMedia('TEXT')"
            class="btn-load-more">
            <span>Load More</span></button>
        </div>
      </md-tab>
    </md-tab-group>
    <div style="position:absolute;right:4%;top:2px;z-index: 1;">
      <a href="javascript:void(0)"><i class="material-icons" (click)="setListView()">list</i></a>
      <a href="javascript:void(0)"><i class="material-icons" (click)="setGridView()">apps</i></a>
    </div>
  </div>
</div>
<div class="slide-foo">
  <div class="f-left">
    <div class="new-question" style="cursor: pointer;" (click)="backQuestion()">
      <img src="assets/img/new-question-icon.PNG" alt="question" width="40px" height="10px"> QUESTION
    </div>
  </div>
  <div class="f-center" dnd-sortable-container [sortableData]="question.slides">
    <div *ngFor="let s of question.slides; let i = index" (click)="changeSlide(s.slideId)">
      <div class="question-info" [ngClass]="{'selected': s.slideId == currentSlideId}" (dragend)="saveQuestionOrder()"
        dnd-sortable [sortableIndex]="i">
        <i class="material-icons" (click)="previewQuestion(i)">&#xE8B6;</i>
        <i class="material-icons" (click)="deleteSlide(s);">&#xE872;</i>
        <i class="material-icons" (click)="configSlideModal(s)">&#xE8B8;</i>
        <br /> {{s.type}}
      </div>
      <div class="sperator-right">
        <i class="material-icons">&#xE037;</i>
      </div>
    </div>

    <div class="question-info" style="background-color: #1e4d59;">
      <i *ngIf="!questionLoading" (click)="addSlide()" class="material-icons">&#xE147;</i>
      <i *ngIf="!questionLoading" (click)="importSlide()" class="material-icons">&#xE8D7;</i>
      <i *ngIf="questionLoading" class="question-icon fa fa-circle-o-notch fa-spin"></i>
      <br /> New Silde
    </div>

  </div>
  <div class="f-right">
    <div class="new-question" (click)="saveQuestion()">
      <i class="material-icons">&#xE161;</i> <br /> Save
    </div>
  </div>
</div>
