@import "../../../share/theme.scss";

.input-upload {
    width: 300px;
}

.input-title {
    padding: 2px 5px 2px 5px;
    background-color: $bg-card-title;
    font-weight: bold;
    color: $color-card-title;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.input-upload {
    width: 300px;
}

.input-body {
    padding: 20px;
}

.input-footer {
    padding: 15px;
    text-align: center;
}

/deep/.mat-dialog-container {
    padding: 0px !important;
    border-radius: 0px;
}
.addLabels {
    background-color: #ddd;
}

.labelcontainer {
    height: 20vh;
    overflow-y:scroll;
}