$backgroud-e: #e4e4e4;
$color-link-e: #a6a6a6;
$color-primary: #1ab5e7;
$color-title: #d5122a;
$color-white: #ffffff;
$backgroud-menu: #333;
$color-boder-menu: #555555;
$bg-card-title: #e4e4e4;
$color-card-title: #bfbfbf;