@import "../../../share/theme.scss";
.e-list {
  padding: 8px;
  color:  $color-card-title;
  font-weight: 500 !important;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.e-list:hover {
  background-color: #caeffa;
  cursor: pointer;
  color: #44c6ee;
  md-checkbox  {
    /deep/.mat-checkbox-background {
      background-color: #caeffa !important;
    }
    /deep/label {
      font-weight: 600 !important;
    }
  }
}
.e-list label {
  font-weight: 500;
  margin-bottom: 0px;
}

.e-list-head {
  padding: 8px;
  color:  $color-card-title;
  font-weight: 700 !important;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background-color: #e4e4e4;
  border-top: 1px solid rgba(255,255,255,0.5) ;
}


:host /deep/ md-checkbox {
  .mat-checkbox-frame {
    border-width: 0px;
  }
  .mat-checkbox-checkmark-path {
    stroke: #00b2e6 !important;
  }
  .mat-checkbox-background {
    background-color: white !important;
    transition: none;
  }
  label {
    font-weight: 400 !important;
  }
}

.main-container {
  background-color: $backgroud-e;
}

.e-footer {
  text-align: center;
  padding: 20px;
}



.material-icons {
  font-size: 14px;
}

.mat-button:hover {
  background: #00bde4;
  color: $color-white;
}

.flexcontainer {
  display: flex;
}

.overfloxhidden {
  overflow: hidden;
}