<div class="main-container" [ngStyle]="{'min-height': wHeight}">
    <div class="e-card">
      <md-card>
        <div class="card-title">
        <span style="margin-right:50px;">Report list</span>
          <md-input-container>
            <input mdInput placeholder="Test name" name="filter_name" [(ngModel)]="filter_name" #name="ngModel" id="filter_name">
          </md-input-container>
          <button md-button class="m-btn-filter" (click)="doFilter()"><i class="material-icons m-icon-filter">&#xE152;</i></button>
        </div>
        <md-card-content>
          <div class="e-content">
            <div style="width: 100%;" *ngIf="loading">
              <md-progress-bar class="app-progress" mode="indeterminate"></md-progress-bar>
            </div>
            <table class="table table-striped a-table-hover" id="tbAdmin">
                <thead>
                <tr>
                  <th>{{'report.table.questionName' | translate}}</th>
                  <th>{{'report.table.mediaName' | translate}}</th>
                  <th>{{'report.table.action' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="loading">
                  <td colspan="5">
                    <md-progress-bar class="app-progress" mode="indeterminate"></md-progress-bar>
                  </td>
                </tr>
                <tr *ngFor="let media of medias; let i = index">
                  <td colspan='3'>
                    {{media.questionName}}
                    <table class="subTable" *ngFor="let e of media.medias; let j = index">
                        <tbody>
                            <tr>
                                <td class="inner-td">{{e.mediaName}}</td>
                                <td id="second-td" class="inner-td" >
                                  <!-- <a target="_blank" href="{{checkUrl}}" download>Download</a > [innerHTML]="sanitize(e.publicUrl)"-->
                                  <button (click)="download(e)">Download</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
              </table>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
<iframe id="my_iframe" style="display:none;"></iframe>

  