<div class="input-upload">
    <form #nForm="ngForm">
        <div class="input-title">
            Checkbox configuration
        </div>
        <div class="input-body">
            <md-input-container class="p-full-width">
                <input mdInput placeholder="Group name" name="groupName" [(ngModel)]="input.groupName" #groupName="ngModel" id="groupName" required>
            </md-input-container>
            <md-input-container class="p-full-width">
                    <input mdInput placeholder="Label" name="label" [(ngModel)]="input.label" #name="ngModel" id="label">
                </md-input-container>
            <md-input-container class="p-full-width">
                <input mdInput type="number" placeholder="Value" name="value" [(ngModel)]="input.value" #chars="ngModel" id="value">
            </md-input-container>
            <md-checkbox [checked]="input.transition" (change)="changeTransition()" name="transition">Transition</md-checkbox>
        </div>
        <div class="input-footer">
            <button md-button color="primary" (click)="save()"><i class="material-icons">&#xE161;</i> Save</button>
            <button md-button color="primary" [md-dialog-close]="true"><i class="material-icons">&#xE5CD;</i> Cancel</button>
        </div>
    </form>
</div>
