<div class="outer">
  <div class="middle">
    <div class="inner">
      <md-card>
        <md-card-title>
          <img class="e-logo" src="assets/img/logo.png" alt="logo" />
          <h2 class="title-login">Reset password</h2>
        </md-card-title>
        <md-card-content>
          <md-input-container class="p-full-width">
            <input mdInput placeholder="E-mail" name="login" [(ngModel)]="forget.login" #login="ngModel" id="login">
          </md-input-container>
          <md-input-container class="p-full-width">
            <input mdInput placeholder="Verification code" [(ngModel)]="forget.validationCode" #validationCode="ngModel" id="validationCode">
          </md-input-container>
          <md-input-container class="p-full-width">
            <input type="password" mdInput placeholder="New password" [(ngModel)]="forget.newPassword" #newPassword="ngModel" id="newPassword">
          </md-input-container>
          <md-input-container class="p-full-width">
            <input type="password" mdInput placeholder="Rewrite new password" [(ngModel)]="forget.rePassword" #rePassword="ngModel" id="rePassword">
          </md-input-container>
        </md-card-content>
        <md-card-actions align="center">
          <button type="button" md-raised-button class="btnLogin" (click)="sendPassword()" [disabled]="buttonLoading" ><i *ngIf="buttonLoading" class="fa fa-circle-o-notch fa-spin"></i> SAVE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>