<div class="main-container" [ngStyle]="{'min-height': wHeight}">
  <div class="e-card">
    <md-card>
      <div class="card-title">
        <span style="margin-right:50px;">Test list</span>
        <md-input-container>
          <input mdInput placeholder="Test name" name="filter_name" [(ngModel)]="filter_name" #name="ngModel" id="filter_name">
        </md-input-container>
        <button md-button class="m-btn-filter" (click)="doFilter()"><i class="material-icons m-icon-filter">&#xE152;</i></button>
      </div>
      <md-card-content>
        <div class="e-content">
          <div style="width: 100%;" *ngIf="loading">
            <md-progress-bar class="app-progress" mode="indeterminate"></md-progress-bar>
          </div>
          <div class="e-list-head">
            <div class='flexcontainer'>
              <div class='col-md-5 overfloxhidden'>Name</div>
              <div class='col-md-3'>Date</div>
              <div class='col-md-3'>Revision</div>
            </div>
          </div>
          <div class="e-list" *ngFor="let e of data; let i = index">
            <md-checkbox [(ngModel)]="e.checked" name="check" (change)="chooseTest(e)" class='flexcontainer'>
              <div class='col-md-5 overfloxhidden'>{{e.TestName}}</div>
              <div class='col-md-3'>{{e.creationDate}}</div>
              <div class='col-md-3'>{{e.revisionDate}}</div>
            </md-checkbox>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <div class="e-footer">
      <button md-button color="primary" (click)="openTestView()" mdTooltip="{{'tooltip.actions.atlas.testlist.view' | translate }}"><i
          class="material-icons">search</i> View</button>
      <button md-button (click)="editTest()" *ngIf="role == 'ADMIN' || role == 'AT_ADMIN'" [disabled]="!isEdit" color="primary"
        mdTooltip="{{'tooltip.actions.atlas.testlist.edit' | translate }}"><i class="material-icons">border_color</i> Edit</button>
      <button md-button color="primary" (click)="cloneTest()" *ngIf="role == 'ADMIN' || role == 'AT_ADMIN'" [disabled]="isLoading"
        mdTooltip="{{'tooltip.actions.atlas.testlist.clone' | translate }}">
        <i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin"></i>
        <i *ngIf="!isLoading" class="material-icons">filter_none</i>
        Clone
      </button>
      <button *ngIf="isRemove" md-button color="primary" [disabled]="!isRemove" (click)="deleteTest()"
        mdTooltip="{{'tooltip.actions.atlas.testlist.remove' | translate }}"><i class="material-icons">&#xE872;</i> Remove</button>
      <button *ngIf="role == 'ADMIN' || role == 'AT_ADMIN'" md-button color="primary" (click)="generateReport()"
        mdTooltip="{{'tooltip.actions.atlas.testlist.global-report' | translate }}"><i class="material-icons">&#xe149;</i>
        Global report
        generation</button>
      <button *ngIf="role == 'ADMIN' || role == 'AT_ADMIN'" (click)="generateFeatures()" md-button color="primary"
        mdTooltip="{{'tooltip.actions.atlas.testlist.features' | translate }}"><i class="material-icons brightness_1">&#xe3a6;</i>
        Features generation</button>
    </div>
  </div>
</div>