<div class="m-upload">
  <form #nForm="ngForm">
    <div class="d-title">
      File upload
    </div>
    <div class="d-body">
      <input type="file" required ng2FileSelect [uploader]="uploader" />
    </div>
    <div class="d-footer">
      <button md-button color="primary" [disabled]="uploader.isUploading || (!nForm.form.valid)"
        (click)="uploader.uploadAll()">
        <i *ngIf="!uploader.isUploading" class="material-icons">&#xE2C6;</i>
        <i *ngIf="uploader.isUploading" class="fa fa-circle-o-notch fa-spin"></i>
        Upload</button>
      <button md-button color="primary" [md-dialog-close]="true"><i class="material-icons">&#xE5CD;</i> Cancel</button>
    </div>
  </form>
</div>
